<a href="/home" class="btn btn-danger m-3">Back</a>
<div class="container d-flex justify-content-around">
<div class="row ">

<div class="card col m-5" style="width: 18rem;">
    <!-- <i class="fa-solid fa-newspaper text-bg-info"></i>  -->
    <img class="card-img-top" src="\assets\images\young-author.avif" alt="Card image cap">
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">Here you can make CRUD operations on authors.</p>
      <a href="/authors" class="btn btn-primary">Manage authors</a>
    </div>
  </div>


  <div class="card col m-5" style="width: 18rem;">
    <!-- <i class="fa-solid fa-newspaper text-bg-info"></i>  -->
    <img class="card-img-top" src="\assets\images\news2.jpg" alt="Card image cap">
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">Here you can make CRUD operations on news.</p>
      <a href="/news" class="btn btn-primary">Manage news</a>
    </div>
  </div>
</div>
</div>
